{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - AquaStock</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="login-body">

    <div class="login-box">
        <h1>AquaStock</h1>
        <p>Smart Water Inventory Management</p>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password1" placeholder="password" required>
            <input type="password" name="password2" placeholder="confirm password" required>
            <button type="submit">Register</button>
        </form>

        <! --Login link-->
        <div class="register-text">
            <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
    </div>
</body>
</html>