<!DOCTYPE html>
<html>
<head>
    <title>Litre Master</title>
</head>
<body>

<h2>Litre Master</h2>

<a href="{% url 'litre_add' %}">Add New Litre</a>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Current Stock</th>
        <th>Actions</th>
    </tr>

    {% for l in litres %}
    <tr>
        <td>{{ l.id }}</td>
        <td>{{ l.name }}</td>
        <td>{{ l.current_price }}</td>
        <td>{{ l.current_stock }}</td>
        <td>
            <a href="{% url 'litre_edit' l.id %}">Edit</a>

            <a href="{% url 'litre_deactivate' l.id %}">
                Deactivate
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>